.alt-screen-header__wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alt-screen-header__column:nth-child(2) {
  font-size: 22px;
  font-weight: bold;
}