@import 'reset.css';

/*components*/
@import 'component/status-bar.css';
@import 'component/screen-header.css';
@import 'component/user-component.css';
@import 'component/nav-bar.css';
@import 'component/functions-list.css';
@import 'component/divide-bar.css';
@import 'component/alt-screen-header.css';
@import "component/only-mobile.css";

/*screens*/
@import 'screen/login.css';
@import 'screen/friends.css';
@import 'screen/chats.css';
@import 'screen/find.css';
@import 'screen/more.css';
@import 'screen/settings.css';
@import 'screen/chat.css';

.position-relative {
  position: relative;
}

header {
  box-sizing: border-box;
  padding-top: 30px;
}

.screen-wrapper {
  box-sizing: border-box;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
}

.notification {
  position: absolute;
  top: -12px;
  left: 20px;
  color: white;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
}

.notification--empty {
  top: -6px;
  left: 30px;
  width: 5px;
  height: 5px;
}