.friends-name-display {
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
  padding: 10px 0px;
  position: absolute;
  width: 100%;
  top: 120px;
}

.friends-main-screen {
  margin-top: 100px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: yellow;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 0.4s ease-in-out 1.5s forwards
}